{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniMart</title>
    <link rel="stylesheet" href="{%static 'css/home_style.css'%}">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>

    <section class="navegations-bar">
        <nav>
            <ul>
                <h2>UniMart</h2>
            </ul>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
            </ul>

            <ul>
                <li>
                    <a href="#">Login</a> /
                    <a href="#">Register</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <h1>Welcome to University Maretplace Home Page</h1>
            <p>Buy, Sell and Exchange Products inside your University Campus.</p>
            <div class="feature-box">
                <div class="box">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h3>Buy & Sell</h3>
                    <p>Buy and sell products easily.</p>
                </div>
                <div class="box">
                    <i class="fa-solid fa-blog"></i>
                    <h3>Blog System</h3>
                    <p>Share your thoughts and ideas.</p>
                </div>
                <div class="box">
                    <i class="fa-solid fa-truck-fast"></i>
                    <h3>Fast Delivery</h3>
                    <p>Quick delivery service.</p>
                </div>
                <div class="box">
                    <i class="fa-solid fa-phone"></i>
                    <h3>Contact</h3>
                    <p>Contact with our support.</p>
                </div>

            </div>

        </div>

    </section>


    <footer>

        <h3>UniMart</h3>
        <p>A University Marketplace for Buying, Selling and Sharing.</p>
        <p>© 2026 UniMart. All Rights Reserved.</p>

    </footer>

</body>
</html>